@import "~ant-design-vue/es/style/themes/default.less";

// 顶栏高度
@headerHeight: 55px;

.headHeight(){
  height: @headerHeight;
  line-height: @headerHeight;
}

// 顶栏
.layout {
  .header {
    z-index: 2;
    color: white;
    height: @headerHeight;
    background-color: @primary-color;
    transition: background 300ms;
  }
}

// 多页签
.ant-pro-multi-tab{
  z-index: 8;
  position: fixed;
  top: @headerHeight+10;
  padding-top: 1px;
  width: 100%;
  background-color: #ececec;
}

#logo{
  .headHeight()
}

.ant-layout-header{
  .headHeight()
}
.ant-pro-global-header {
  z-index: 99;
  height: @headerHeight;
  background-color: #FFFFFF;
}
.ant-pro-global-header-trigger{
  .headHeight()
}
.ant-pro-global-header-content{
  .headHeight()
}
.ant-pro-global-header-index-light{
  .headHeight()
}
.ant-pro-global-header-index-right{
  .headHeight()
}

// 主体边距
.ant-layout-content{
  &.ant-pro-basicLayout-content{
    //margin-left: 10px;
    //margin-right: 10px;
    //margin-bottom: 0;
    margin: 10px;
  }
}

.ant-pro-global-header-index-right {
  margin-right: 8px;

  &.ant-pro-global-header-index-dark {
    .ant-pro-global-header-index-action {
      color: hsla(0, 0%, 100%, .85);

      &:hover {
        background: #1890ff;
      }
    }
  }

  .ant-pro-account-avatar {
    .antd-pro-global-header-index-avatar {
      margin: ~'calc((@{headerHeight} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .menu {
    .anticon {
      margin-right: 8px;
    }

    .ant-dropdown-menu-item {
      min-width: 100px;
    }
  }
}

